- current_action = @task.new_record? ? "Create" : "Update"
#main_content  
  .top_content
    #task_form
      %h2 #{current_action} a task here 
      = form_for @task, :url => @task.new_record? ? create_task_path : update_task_path(@task.id) do |f|
        -if @task.errors.any?
          %p.errors
            There are errors on the following fields, please correct them :
            =@task.errors.messages.keys.select{|e| e }.flatten.join(',')
        %ul
          %li
            =f.label :name
            =f.text_field :name
          %li
            =f.label :description
            =f.text_field :description
          %li
            =f.label :completion_date
            =f.text_field :completion_date, :class => "datepicker"
          %li
            .primary_button
              %button{:type=>"submit"} #{current_action} task  
